
<% console.log("> Dashboard Page <");%>
<% console.log(User_Data); %>


<div class="container">
  <h4>Dashboard</h4>
  <br>

  <form action="/addweight" method="post">

  <div class="col-md-5">
    <div class="row">
      <select class="form-control" name="Select_Name" id="Select_Name">
        <% for (var i = 0 ; i < User_Data.length ; i++ ) { %>
          <option value="<%= User_Data[i].id %>" > <%= User_Data[i].Name %>  </option>
        <% } %>
      </select>

      <br>
      <div class="input-group">
        <input type="number" class="form-control" name="Weight" id="Weight" placeholder="input weight in number" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">kg.</span>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-outline" name="add" id="add">Add</button>
      <a href="/user/create" class="btn btn-default btn-outline">Create User</a>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-8">
      <canvas id="myChart" width="350" height="200"></canvas>

    </div>
  </div>

  </form>
</div>
