<div class="wrap-big">
  <div class="container">
    <h4>Create user</h4>
    <form action="/add" method="post">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" id="name" name="name" class="form-control" placeholder="name" aria-describedby="basic-addon1">
      </div>
      <br>
      <button type="submit" name="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
